<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Coop's Critics</title>
  
</head>
<body>
  <h1> All Movies </h1>
  
  <ul>
    <% movies.forEach(movie => { %>
        <li> <a href="movie_page/<%=movie.id%>"><%= movie.movie %> </a> </li>
    <% }) %>
  </ul>
  
</body>
</html>