<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coop's Critics</title>
</head>
<body>
  <h3> Welcome to Coop's Critics </h3>
  
  <h2>Leave a Review!</h2>
  
</body>
</html>