<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Actors </title>
</head>
<body>

  <h1> <%= movie.title %> <%= movie.rating %> / 10 </h1>

    <p>Cast: </p>
    <p> <% actors.forEach(actor => { %>
    <%= actor.first_name + ' ' + actor.last_name %>
    <% }) %> </p>

    <h3>Unleash your critique: </h3>

    <button onclick="redirectToReviewPage()"> Leave review </button>
    
<script>const redirectToReviewPage = () => { window.location.href='/new_review';}</script>
</body>
</html>