<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unleash your critique</title>
</head>
<body>
      <h1>Leave a Review!</h1>
  <form action="/new_review" method="POST">

    <label for="user_review"></label>
    <textarea id="user_review" name="user_review" rows="15" cols="50"> </textarea>
    <button type="submit">Submit Review</button>

  </form>
</body>
</html>